<div class="tw-relative" style="padding-bottom: 100%;">
    <div class="tw-absolute tw-w-full tw-h-full tw-inset-0 hover:tw-brightness-50">
        <a href="{{ collection.url }}" title="{{ collection_title }}">
            {% if collection.image %}
                {% render "[image]", image: collection.image image_box_ratio:'100%' cover:true %}
            {% elsif collection.products.first and collection.products.first.media != empty %}
                {% render "[image]", image: collection.products.first.featured_media.preview_image image_box_ratio:'100%' cover:true %}
            {% else %}
                <div class="tw-w-full">
                    {% render "[image]-holder" %}
                </div>
            {% endif %}
        </a>
    </div>
    <div class="tw-absolute tw-top-1/2 tw-right-0 tw-max-w-full" style="transform: translateY(-50%);">
        <h3 class="tw-m-0 tw-font-bold tw-text-xs sm:tw-text-base tw-px-3 tw-py-2 tw-bg-black tw-bg-opacity-50">
            <a class="!tw-text-white " href="{{ collection.url }}" title="{{ collection_title }}">{{ collection.title }}</a>
        </h3>
    </div>
</div>
