{% comment %}
    Custom blocks from custom pages and collections in 1 single snippet to reduce repeating code for faster usage, fixes and editing
{% endcomment %}
{% if settings.breadcrumb %}
  {% render 'breadcrumb' %}
{% endif %}
<div data-section-id="{{ section.id }}" data-section-type="custom-page-section">
  <div class="custom-page-content" id="content">
    <!-- start the custom content -->
    <div class="page-sections">
      {% for block in section.blocks %}
        {% if block.type != 'page_title' %}
          <div class="page-section" {{ block.shopify_attributes }}>
          {% endif %}

          {% case block.type %}
            {% when 'page_title' %}
              <div class="row" >
                <div class="section-title">
                  <h1>{{ page.title | escape }}</h1>
                </div>
              </div>
            {% when 'page_content' %}
              <section id="page-section-{{ block.id }}" class="shopify-section page-content" data-section-id="{{ block.id }}" >
                <div class="rte row" style="text-align: {{ block.settings.pc_align }}; max-width: {{ block.settings.pc_max_width}}px; margin: 0 auto;">
                  {{ page.content }}
                </div>
              </section>

          {% endcase %}

          {% if block.type != 'page_title' %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="clear"></div>
    </div>
    <!-- end the custom content -->
  </div>
</div>
