

{% assign description_tag = instructions.description_tag %}
{% assign heading-1 = instructions.heading-1 %}
{% assign short-description-1 = instructions.short-description-1 %}
{% assign description-image-1 = instructions.description-image-1 %}
{% assign description-image-2 = instructions.description-image-2 %}
{% assign heading-2 = instructions.heading-2 %}
{% assign short-description-2 = instructions.short-description-2 %}
{% assign side-image= instructions.side-image %}
{% assign product-information = instructions.product-information  %}
{% assign inspired-by  = instructions.inspired-by   %}


<div class="row ">
    <div class="desktop-12">
        <div class="lifestyle__text center half">
            <h2>CONTEMPORARY INSPIRATION</h2>
            <p>
                {{ description_tag }}
            </p>
        </div>
    </div>
    <div class="desktop-12">
        <div class="desktop-6">
            <div class="lifestyle__text1">
                <h3>
                    <strong>
                        {{ heading-1 }}
                    </strong>
                </h3>
                <p>
                    {{ short-description-1 }}
                </p>
            </div>
        </div>
        <div class="desktop-6">
            {{ description-image-1 }}
        </div>
    </div>
    <div class="desktop-12 mobile-first">
        <div class="desktop-6 one-one">
            {{ description-image-2 }}
        </div>
        <div class="desktop-6 two-two">
            <div class="lifestyle__text1">
                <h3>
                    <strong>
                        {{ heading-2 }}
                    </strong>
                </h3>
                <p>
                    {{ short-description-2 }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="background" style=" background: #fafbfa;margin-top: 75px;">
    <div class="product-info1 row desktop-12" style="padding: 71px 0;">
        <h2 class="section-title row desktop-12">THE FINER DETAILS
        </h2>
        <div class="desktop-12">
            <div class="desktop-6">
                <div class="desktop-8">
                    {%- if side-image != blank -%}
                        <img class="lifestyle__img lazyloaded" src="{{ side-image }}">
                    {%- else -%}
                        <img class="lifestyle__img lazyloaded" src="{{ 'bg.png' | asset_url }}">
                    {%- endif -%}
                </div>
            </div>
            <div class="desktop-6 main-desc">
                <h3>Product Details</h3>
                {{ product.description }}
                <h3>Product Information</h3>
                {{ product-information }}
            </div>
        </div>
    </div>
</div>


<div class="desktop-12 inpiredby row" id="inspiree">

    {% assign product_collection = product.collections %}
    <div class="inner-text desktop-9">
        <h5>Inspired By</h5>
        <h1>
            {{ inspired-by }}</h1>


        {% for collection in product_collection %}

            {% if collection.title == inspired-by %}
                {{ collection.description | strip_html }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="inner-uimage desktop-3">

        {% for collection in product_collection %}
            {% if collection.title == inspired-by %}
                {% if collection.image != blank %}
                    <img class="lifestyle__img lazyloaded" src="{{ collection.image | img_url: 'Grande'}}">
                {% endif %}
            {% endif %}
        {% endfor %}


    </div>

</div>




