{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_Uk-Danish-Classics-for-Less-102021">
			<!-- START UkDanish Classics for Less 102021 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-4" data-title="Slide 1" data-link="{{ request.path | slice: 1,2}}//www.mobelaris.com/en/express-delivery" data-target="_self" data-seoz="front" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/DANISH-CLASSICS-Oct-Desktop.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-4-slide-4-layer-0" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:-8px,-4px,-3px,0;yo:471px,251px,190px,144px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:27,14,10,40;l:31,16,12,35;ls:0,0,0,-1px;fw:900;a:center;"
								data-dim="w:auto,auto,auto,411px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'Montserrat';text-transform:uppercase;"
							>Limited Stock Remaining 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c,c,c,l;xo:4px,2px,1px,0;y:b;yo:142px,75px,56px,88px;"
								data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
								data-dim="w:1150px,613px,465px,885px;h:67px,35px,26px,52px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/24hrs-extended-Flashing-Text-8bit.gif" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;yo:298px,158px,120px,223px;"
								data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
								data-dim="w:245px,130px,98px,248px;h:159px,84px,63px,161px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/60-DC.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-12" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:r;xo:1119px,596px,452px,372px;y:m;yo:-42px,-22px,-16px,-45px;"
								data-text="s:30,16,12,20;l:25,13,9,20;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							>UP TO 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-13" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="xo:1096px,584px,443px,378px;y:m;yo:-47px,-25px,-18px,-45px;"
								data-text="s:30,16,12,20;l:25,13,9,20;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							>% OFF 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-15" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:1px,0,0,0;yo:190px,101px,76px,144px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:65,34,25,40;l:75,40,30,35;ls:2px,1px,0px,-1px;fw:900;a:center;"
								data-dim="w:auto,auto,auto,411px;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'Montserrat';text-transform:uppercase;"
							>Danish Classics For Less 
							</rs-layer><!--

							--><rs-layer
								id="slider-4-slide-4-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-15px,-11px,0;y:t,t,t,m;yo:728px,388px,294px,0;"
								data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
								data-dim="w:300px,160px,121px,482px;h:375px,200px,151px,603px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0563/0938/3354/t/56/assets/DANISH-CLASSICS-Oct-Mobile.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1024,778,480],el:[720,768,400,600],gw:[1920,1024,778,480],gh:[720,768,400,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi4 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Montserrat:900%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi4;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi4 = window.revapi4===undefined || window.revapi4===null || window.revapi4.length===0  ? document.getElementById("20") : window.revapi4;
			if(window.revapi4 === null || window.revapi4 === undefined || window.revapi4.length==0) { window.revapi4initTry = window.revapi4initTry ===undefined ? 0 : window.revapi4initTry+1; if (window.revapi4initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi4 = jQuery(window.revapi4);
			if(window.revapi4.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi4.revolutionInit({
					revapi:"revapi4",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"6225d3cb0ce2c",
					gridwidth:"1920,1024,778,480",
					gridheight:"720,768,400,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_Uk-Danish-Classics-for-Less-102021" ).after( "<div id='revslider_show_Uk-Danish-Classics-for-Less-102021'></div>" );
                            jQuery( "#revslider_drag_Uk-Danish-Classics-for-Less-102021" ).hide();
                            jQuery("#revslider_foot_Uk-Danish-Classics-for-Less-102021").appendTo("#revslider_show_Uk-Danish-Classics-for-Less-102021");
                            jQuery("#revslider_show_Uk-Danish-Classics-for-Less-102021 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>