{%- assign collection = collections[section.settings.collection] -%}
{% capture items %}
    {% for i in (1..6) %}
        <div class="keen-slider__slide tw-bg-gray-100 tw-relative tw-h-72 tw-flex tw-justify-center tw-items-center"></div>
    {% endfor %}
{% endcapture %}
{% if section.blocks != blank %}
    {% capture items %}
        {% for block in section.blocks limit: section.blocks.size %}
            {%- assign collection = collections[block.settings.collection] -%}
            <div class="keen-slider__slide">
                <div class="tw-w-full tw-relative tw-bg-gray-100" data-alpha="{{ collection.title }}" {{ block.shopify_attributes }}>
                  <div class="tw-w-full" style="padding-bottom: 115%;"></div>
                    {% if block.settings.collection == blank %}
                        {% capture current %}
                            {{ forloop.index }}
                        {% endcapture %}
                        {%- assign placeholder = 'collection-' | append: current -%}
                        <div class="collection-image ci onboard">
                            <a href="#">
                                {{ placeholder | placeholder_svg_tag }}
                            </a>
                        </div>
                        <div class="product-details">
                            <h3>
                                <a href="#">Sample collection
                                    {{ forloop.index }}</a>
                            </h3>
                        </div>
                    {% else %}
                        {% render 'collection-grid-item', collection: collection %}
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    {% endcapture %}
{% endif %}

<div id="{{section.id}}" class="tw-py-16 tw-bg-[color:var(--section-bg)] tw-items-center tw-overflow-hidden">
    <div class="tw-max-w-[980px] xl:tw-max-w-7xl tw-px-8 tw-mx-auto tw-flex tw-flex-col tw-gap-6 lg:tw-grid-cols-2">
        <div class=" tw-flex tw-flex-col tw-items-center lg:tw-items-start tw-text-center lg:tw-text-left tw-flex-1 tw-space-y-4">
            {% if section.settings.heading != blank %}
                <div class="tw-text-left tw-flex tw-justify-between tw-items-baseline tw-w-full">
                    <h2 style="padding-left: 0;" class="tw-font-bold tw-mb-0">
                        <a href="{{ collection.url }}">{{ section.settings.heading | escape }}</a>
                    </h2>
                </div>
            {% endif %}
        </div>
        <div>
            {% include '[carousel]' items:items %}
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 12,
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full width"
        }, {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Collection list"
        }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
        }, {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#fff"
        }, {
            "type": "range",
            "id": "grid",
            "min": 2,
            "max": 4,
            "step": 1,
            "label": "Collections per row",
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "featured_collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection list",
            "category": "Collection",
            "settings": {
                "grid": 3
            },
            "blocks": [
                {
                    "type": "featured_collection"
                }, {
                    "type": "featured_collection"
                }, {
                    "type": "featured_collection"
                }
            ]
        }
    ]
}

{% endschema %}
