{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
    {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
    {%- assign locale_selector = true -%}
{%- endif -%}

<footer class="footer-section tw-pb-32 lg:tw-pb-0" data-section-id="{{ section.id }}" data-section-type="footer-section">
    <div class="tw-py-16" id="footer-wrapper">
        <div class="{% render '[class]-container' class: '' %} tw-flex tw-flex-col lg:tw-flex-row lg:tw-gap-6" id="footer">
            {% case section.blocks.size %}
                {% when 0 %}
                {% when 1 %}
                    {% assign column_width = 'desktop-12 tablet-6 mobile-3' %}
                {% when 2 %}
                    {% assign column_width = 'desktop-6 tablet-3 mobile-3' %}
                {% when 3 %}
                    {% assign column_width = 'desktop-4 tablet-3 mobile-3' %}
                {% when 4 %}
                    {% assign column_width = 'desktop-3 tablet-3 mobile-3 menuitems' %}
            {% endcase %}

            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'menu' %}
                        <div class="{{ column_width }} tw-w-full lg:tw-w-1/4 lg:tw-max-w-[200px] footer-menu">
                            <label class="togglecontent" for="menu-item-{{ forloop.index }}">
                                <h4>{{ block.settings.title }}</h4>
                            </label><input id="menu-item-{{ forloop.index }}" type="checkbox">
                            <div class="footer-block-content">
                                <ul {{ block.shopify_attributes }}>
                                    {% for link in linklists[block.settings.footer_nav].links %}
                                        <li>{{ link.title | link_to: link.url }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% when 'newsletter' %}
                        <div class="{{ column_width }} tw-w-full lg:tw-w-1/4 lg:tw-max-w-[200px] footer-menu">
                            <label class="togglecontent" for="menu-item-{{ forloop.index }}">
                                <h4>{{ block.settings.title }}</h4>
                            </label><input id="menu-item-{{ forloop.index }}" type="checkbox">
                            <div class="footer-block-content" id="footer_signup">
                                {{ block.settings.mailing_subheading }}
                                {% assign footer_signup_text = settings.footer_signup_text | strip %}
                                {% if footer_signup_text and footer_signup_text != blank %}
                                    <p>{{ settings.footer_signup_text | escape }}</p>
                                {% endif %}
                                {% form 'customer' %}
                                    {{ form.errors | default_errors }}
                                    {% if form.posted_successfully? %}
                                        <p class="success">{{ 'password.general.thanks' | t }}</p>
                                    {% else %}
                                        <input name="contact[tags]" type="hidden" value="prospect, password page">
                                        <input type="email" name="contact[email]" id="footer-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                        <input type="submit" id="footer-subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                                    {% endif %}
                                {% endform %}
                            </div>
                        </div>
                    {% when 'text' %}
                        <div class="flex tw-w-full tw-flex-1 lg:tw-w-auto tw-flex-col lg:block tw-pt-6 md:tw-pt-0 tw-text-center lg:tw-text-right">
                            <div class="tw-ml-auto tw-w-full">
                                <h2 class="tw-block tw-font-bold tw-text-3xl">{{ block.settings.title }}</h2>
                                {% if section.settings.footer_text != blank %}
                                    <div>{{section.settings.footer_text}}</div>
                                {% endif %}
                            </div>
                            <div class="tw-flex tw-justify-between lg:tw-justify-between tw-w-full tw-text-right lg:tw-flex-col tw-items-center md:tw-items-center lg:tw-items-end">
                                {{ block.settings.footer_text }}
                                {% if block.settings.image != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image1 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl1}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image1 | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image2 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl2}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image2 | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image3 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl3}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image3 | img_url: '300x' }}"></a>
                                {% endif %}
                            </div>
                        </div>
                {% endcase %}
                <style>
                input#menu-item-{{ forloop.index }} {
                    display: none;
                    position: relative;
                }

                @media screen and (max-width: 740px) {
                    .footer-block-content {
                        display: none;
                    }

                    #menu-item-{{ forloop.index }}:checked~.footer-block-content,
                    #footer .footer-index-4 .footer-block-content {
                        display: block !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                    }
            </style>
            {% endfor %}
        </div>
        <div class="clear"></div>

    </div>
    <hr>
    <div class="{% render '[class]-container' class: '' %} tw-flex !tw-items-center tw-justify-between tw-flex-col lg:tw-flex-row " id="bottom-footer">
        <div class="footer-left tw-text-center">

            <div class="tw-flex-1">
                <div class=" tw-flex tw-gap-3 tw-justify-center lg:tw-justify-start">
                    {% if currency_selector %}
                        <noscript>
                            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                                <div class="localization-form__select">
                                    <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label'  | t }}</h2>
                                    <select aria-labelledby="FooterCountryLabelNoScript" class="localization-selector link" name="country_code">
                                        {%- for country in localization.available_countries -%}
                                            <option value="{{ country.iso_code }}" {%- if country.iso_code==localization.country.iso_code %} selected {% endif %}>
                                                {{ country.name }}
                                                ({{ country.currency.iso_code }}
                                                {{ country.currency.symbol }})
                                            </option>
                                        {%- endfor -%}
                                    </select>
                                    <svg aria-hidden="true" class="icon icon-caret tw-text-sm" focusable="false" height="1em" role="presentation" viewbox="0 0 10 6" width="1em">
                                        <path clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill-rule="evenodd" fill="currentColor"/>
                                    </svg>
                                </div>
                                <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                            {%- endform -%}
                        </noscript>
                        <localization-form>
                            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                                <label aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel" aria-expanded="false" class="tw-btn tw-btn-outline tw-rounded-none tw-btn-xs tw-items-center tw-gap-3" for="footercountryformmodal" tabindex="0" type="button">
                                    {%- assign iconPath =  localization.country.iso_code | downcase | append:'-flag' | append: '.svg' %}
                                    <img class="tw-w-4 tw-h-4 tw-rounded-full tw-object-cover" src="{{ iconPath | file_url}}"/>
                                    {{ localization.country.name | capitalize }}
                                    ({{ localization.country.currency.iso_code }}
                                    {{ localization.country.currency.symbol }}) -
                                    {{localization.language.endonym_name}}
                                    <svg aria-hidden="true" class="icon icon-caret tw-text-sm tw-ml-3" focusable="false" height="1em" role="presentation" viewbox="0 0 10 6" width="1em">
                                        <path clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill-rule="evenodd" fill="currentColor"/>
                                    </svg>
                                </label>
                                <input class="tw-modal-toggle" id="footercountryformmodal" type="checkbox">
                                <div class="tw-modal">
                                    <div class="tw-p-0 tw-modal-box lg:tw-max-w-md">
                                        <div class="tw-w-full  tw-p-8 tw-pt-12 tw-max-h-[calc(100vh-100px)] tw-overflow-auto">
                                            <div class="no-js-hidden tw-flex tw-justify-center lg:tw-justify-start">
                                                <div class="tw-w-full">
                                                    <h3 class=" tw-text-center tw-mx-auto">
                                                        {{'strings.general.change-shipping-country-and-language' | t}}
                                                    </h3>
                                                    <div class="no-js-hidden tw-pt-6 tw-flex tw-flex-col">
                                                        <div class="tw-dropdown tw-w-full tw-group">
                                                            <div aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel" aria-expanded="false" class="tw-btn tw-btn-block tw-btn-outline tw-rounded-none tw-items-center tw-gap-3" tabindex="0" type="button">
                                                                {{ localization.country.currency.iso_code }}
                                                                {{ localization.country.currency.symbol }}
                                                                <svg aria-hidden="true" class="icon icon-caret tw-text-sm tw-ml-3" focusable="false" height="1em" role="presentation" viewbox="0 0 10 6" width="1em">
                                                                    <path clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill-rule="evenodd" fill="currentColor"/>
                                                                </svg>
                                                            </div>
                                                            <ul class="tw-p-0 !tw-transition-all  tw-max-h-0 group-focus-within:tw-max-h-96 group-focus-within:tw-h-auto tw-overflow-auto !tw-relative tw-w-full tw-border tw-shadow-lg tw-menu lg:tw-ml-auto tw-dropdown-content tw-bg-base-100 tw-rounded-lg" hidden id="FooterLanguageList" role="list">
                                                                {% assign countryListString = 'GB,SE,NO,DE'%}
                                                                {%- for country in localization.available_countries -%}
                                                                    <li class="" tabindex="-1">
                                                                        {% if countryListString contains country.iso_code %}
                                                                            <div class="tw-px-3 tw-items-center tw-flex tw-gap-2 tw-py-1 hover:tw-bg-gray-200 {% if country.iso_code == localization.country.iso_code %} tw-font-bold{% endif %} focus-inset" href="#" {% if country.iso_code == localization.country.iso_code %} aria-current="true" {% endif %} data-country="{{ country.iso_code }}" data-value="{{ country.iso_code }}">
                                                                                {{ country.currency.iso_code }}
                                                                                {{ country.currency.symbol }}
                                                                            </div>
                                                                        {% endif %}

                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>
                                                        <div class="tw-dropdown tw-w-full tw-group">
                                                            <div aria-controls="FooterLangList" aria-describedby="FooterLangListLabel" aria-expanded="false" class="tw-btn tw-btn-block tw-btn-outline tw-rounded-none tw-items-center tw-gap-3" tabindex="0" type="button">
                                                                {{ localization.language.endonym_name | capitalize }}
                                                                <svg aria-hidden="true" class="icon icon-caret tw-text-sm tw-ml-3" focusable="false" height="1em" role="presentation" viewbox="0 0 10 6" width="1em">
                                                                    <path clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill-rule="evenodd" fill="currentColor"/>
                                                                </svg>
                                                            </div>
                                                            <ul class="tw-p-0 tw-block !tw-transition-all  tw-max-h-0 group-focus-within:tw-max-h-96 group-focus-within:tw-h-auto tw-overflow-auto !tw-relative tw-w-full tw-border tw-shadow-lg tw-menu lg:tw-ml-auto tw-dropdown-content tw-bg-base-100 tw-rounded-lg" hidden id="FooterLanguageList" role="list">
                                                                {%- for language in localization.available_languages -%}
                                                                    <li class="" tabindex="-1">
                                                                        <div class="tw-px-3 tw-items-center tw-flex tw-gap-2 tw-py-1 hover:tw-bg-gray-200 {% if language.iso_code == localization.language.iso_code %} tw-font-bold{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %} aria-current="true" {% endif %} data-lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                                                                            {{ language.name | capitalize }}
                                                                            -
                                                                            {{ language.endonym_name | capitalize }}
                                                                        </div>
                                                                    </li>
                                                                {%- endfor -%}

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- <div class="tw-modal-action tw-w-full">
                                                <button class="tw-btn tw-btn-block" for="footercountryformmodal">{{'strings.general.apply' | t }}</button>
                                            </div> -->
                                        </div>

                                        <label class="tw-btn tw-btn-square tw-btn-ghost tw-bg-white tw-bg-opacity-30 tw-rounded-box tw-border-none tw-absolute tw-top-0 tw-right-0" for="footercountryformmodal">
                                            <svg aria-hidden="true" class="icon icon-close-small" fill="none" focusable="false" height="2em" role="presentation" viewbox="0 0 12 13" width="2em" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.48627 9.32917L2.82849 3.67098" stroke-linecap="round" stroke-linejoin="round" stroke="#333030"/>
                                                <path d="M2.88539 9.38504L8.42932 3.61524" stroke-linecap="round" stroke-linejoin="round" stroke="#333030"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}"/>
                            {%- endform -%}
                        </localization-form>
                    {% endif %}

                </div>
                <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-gap-6 tw-leading-[30px] tw-mt-[10px]">
                    <div class="small-links tw-text-center">
                        <a class="ph2" href="/pages/privacy-policy">{{ 'strings.general.privacy_policy' | t }}</a>
                        |
                        <a class="ph2" href="/pages/terms-conditions">{{ 'strings.general.terms_conditions' | t }}</a>
                    </div>
                    {% if section.settings.show_copyright %}
                        <div class="tw-text-center">
                            <a href="{{ routes.root_url }}">&copy;
                                {{ 'now' | date: "%Y" }}
                                Designer Icons</a>
                        </div>
                    {% endif %}
                </div>
            </div>


        </div>
        <div class="footer-right" id="payment">
            {% if section.settings.show_social_icons %}
                {% render 'social-icons' %}
            {% endif %}
            {% if section.settings.show_credit_cards %}
                <div class="payment-methods tw-text-center lg:tw-text-right">
                    {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag: class:'payment-icon' }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

</footer>

<style>
    #footer-wrapper {
        text-align: {{
                section.settings.footer_text_align
            }}

        ;
    }

        {% if section.settings.payment_icon_color %}

    svg.payment-icon {
        filter: grayscale(1);
    }

        {% endif %}

    div#bottom-footer {
        display: flex;
        margin: 0 auto;
        padding-top: 32px;
        /*  border-top: 1px solid {{ settings.footer_border }};*/
        margin-top: 64px;
        align-items: flex-end;
    }

    div#bottom-footer .footer-left {
        width: 50%;
        text-align: left;
    }

    /* div#bottom-footer .footer-right {
    width: 50%;
    text-align: right;
  } */

    div#bottom-footer #copy p {
        text-align: left;
        margin: 0;
    }

    div#bottom-footer #payment {
        text-align: right;
    }

    div#bottom-footer #payment .payment-methods {
        margin-top: 10px;
    }

    div#bottom-footer .selectors-form {
        justify-content: flex-end;
        margin: 0;
    }

    div#bottom-footer ul#social-icons li {
        padding: 0;
    }

    @media (min-width: 980px) {
        #footer #payment {
            text-align: {{
                    section.settings.footer_text_align
                }}

            ;
        }

            {% if section.settings.footer_text_align=='left'%}

        #footer .selectors-form {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

        .footer-section .disclosure-list {
            right: 0;
        }

            {% endif %}
    }

    @media (max-width: 740px) {
        div#bottom-footer {
            flex-wrap: wrap;
        }

        div#bottom-footer .footer-left {
            width: 100%;
            text-align: left;
            order: 2;
        }

        div#bottom-footer .footer-right {

        }

        div#bottom-footer .selectors-form {
            justify-content: flex-start;
            margin: 0;
        }

        div#bottom-footer #payment {
            text-align: left;
        }

        div#bottom-footer .payment-methods {
            margin-top: 10px;
        }

        div#bottom-footer .footer-section .disclosure__toggle {
            height: 44px;
            width: 80px;
        }

        div#bottom-footer ul#social-links {
            display: block;
            margin-bottom: 0;
        }

        .footer-section .disclosure-list {
            left: 0;
        }

        #footer-wrapper {
            padding-bottom: 20px;
        }

        #footer-wrapper p {
            margin-top: 20px;
        }
    }

    @media (min-width: 740px) {
        #footer-wrapper .rte {
            margin-top: 0px;
            text-align: right;
        }

        .menuitems h4 {
            font-size: 13px;
            margin-bottom: -33px;
            color: black;
        }
    }
</style>

<script>

    class LocalizationForm extends HTMLElement {
        constructor() {
            super();
            this.elements = {
                inputlocalecode: this.querySelector('input[name="locale_code"]'),
                inputcountrycode: this.querySelector('input[name="country_code"]'),
                panel: this.querySelector('ul')
            };
            this.querySelectorAll('li div').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
        }

        onItemClick(event) {
            event.preventDefault();
            const form = this.querySelector('form');
            if(event.currentTarget.dataset.lang){
                this.elements.inputlocalecode.value = event.currentTarget.dataset.lang;
            }
            if(event.currentTarget.dataset.country){
                this.elements.inputcountrycode.value = event.currentTarget.dataset.country;
            }
            form.submit();
        }
    }

    customElements.define('localization-form', LocalizationForm);

</script>

{% schema %}

{
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "footer_text_align",
            "label": "Footer text align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                }, {
                    "value": "center",
                    "label": "Center"
                }, {
                    "value": "right",
                    "label": "Right"
                }
            ]
        }, {
            "type": "checkbox",
            "id": "show_credit_cards",
            "label": "Show credit card icons",
            "default": true,
            "info": "The icons that show are determined by your store's payment settings."
        }, {
            "type": "checkbox",
            "id": "payment_icon_color",
            "label": "Grayscale payment icons",
            "default": true
        }, {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        }, {
            "type": "checkbox",
            "id": "show_copyright",
            "label": "Show site name and copyright",
            "default": true
        }, {
            "type": "header",
            "content": "Language Selector",
            "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
        }, {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": "Show language selector",
            "default": true
        }, {
            "type": "header",
            "content": "Currency Selector",
            "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
        }, {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "footer_nav",
                    "label": "Sidebar menu",
                    "info": "This menu won't show dropdown items"
                }, {
                    "type": "text",
                    "id": "title",
                    "label": "Menu title",
                    "default": "Explore"
                }
            ]
        }, {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "About"
                }, {
                    "id": "footer_text",
                    "type": "richtext",
                    "label": "Text",
                    "default": "<p>Adding text to your footer helps introduce your business to new customers.</p>"
                }, {
                    "type": "image_picker",
                    "id": "image",
                    "label": "image 1"
                }, {
                    "type": "url",
                    "id": "imageUrl",
                    "label": "Image 1 Url",
                    "default": "/"
                }, {
                    "type": "image_picker",
                    "id": "image1",
                    "label": "image 2"
                }, {
                    "type": "url",
                    "id": "imageUrl1",
                    "label": "Image 2 Url",
                    "default": "/"
                }, {
                    "type": "image_picker",
                    "id": "image2",
                    "label": "image 3"
                }, {
                    "type": "url",
                    "id": "imageUrl2",
                    "label": "Image 3 Url",
                    "default": "/"
                }, {
                    "type": "image_picker",
                    "id": "image3",
                    "label": "image 4"
                }, {
                    "type": "url",
                    "id": "imageUrl3",
                    "label": "Image 4 Url",
                    "default": "/"
                }
            ]
        }, {
            "type": "newsletter",
            "name": "Newsletter signup",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Mailing list section title",
                    "default": "connect"
                }, {
                    "type": "richtext",
                    "id": "mailing_subheading",
                    "label": "Mailing list subheading",
                    "default": "<p>Join our mailing list for updates</p>"
                }
            ]
        }
    ]
}

{% endschema %}