{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
    {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
    {%- assign locale_selector = true -%}
{%- endif -%}

<footer class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
    <div class="tw-py-16" id="footer-wrapper">
        <div class="{% render '[class]-container' class: '' %} tw-flex tw-flex-col lg:tw-flex-row lg:tw-gap-6" id="footer">
            {% case section.blocks.size %}
                {% when 0 %}
                {% when 1 %}
                    {% assign column_width = 'desktop-12 tablet-6 mobile-3' %}
                {% when 2 %}
                    {% assign column_width = 'desktop-6 tablet-3 mobile-3' %}
                {% when 3 %}
                    {% assign column_width = 'desktop-4 tablet-3 mobile-3' %}
                {% when 4 %}
                    {% assign column_width = 'desktop-3 tablet-3 mobile-3 menuitems' %}
            {% endcase %}

            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'menu' %}
                        <div class="{{ column_width }} tw-w-full lg:tw-w-1/4 lg:tw-max-w-[200px] footer-menu">
                            <label class="togglecontent" for="menu-item-{{ forloop.index }}">
                                <h4>{{ block.settings.title }}</h4>
                            </label><input id="menu-item-{{ forloop.index }}" type="checkbox">
                            <div class="footer-block-content">
                                <ul {{ block.shopify_attributes }}>
                                    {% for link in linklists[block.settings.footer_nav].links %}
                                        <li>{{ link.title | link_to: link.url }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% when 'newsletter' %}
                        <div class="{{ column_width }} tw-w-full lg:tw-w-1/4 lg:tw-max-w-[200px] footer-menu">
                            <label class="togglecontent" for="menu-item-{{ forloop.index }}">
                                <h4>{{ block.settings.title }}</h4>
                            </label><input id="menu-item-{{ forloop.index }}" type="checkbox">
                            <div class="footer-block-content" id="footer_signup">
                                {{ block.settings.mailing_subheading }}
                                <p>{{ settings.footer_signup_text | escape }}</p>
                                {% form 'customer' %}
                                    {{ form.errors | default_errors }}
                                    {% if form.posted_successfully? %}
                                        <p class="success">{{ 'password.general.thanks' | t }}</p>
                                    {% else %}
                                        <input name="contact[tags]" type="hidden" value="prospect, password page">
                                        <input type="email" name="contact[email]" id="footer-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                        <input type="submit" id="footer-subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                                    {% endif %}
                                {% endform %}
                            </div>
                        </div>
                    {% when 'text' %}
                        <div class="flex tw-w-full tw-flex-1 lg:tw-w-auto tw-flex-col lg:block tw-pt-6 md:tw-pt-0 tw-text-center lg:tw-text-right">
                            <div class="tw-ml-auto tw-w-full">
                                <h2 class="tw-block tw-font-bold tw-text-3xl">{{ block.settings.title }}</h2>
                                {% if section.settings.footer_text != blank %}
                                    <div>{{section.settings.footer_text}}</div>
                                {% endif %}
                            </div>
                            <div class="tw-flex tw-justify-between lg:tw-justify-between tw-w-full tw-text-right lg:tw-flex-col tw-items-center md:tw-items-center lg:tw-items-end">{{ block.settings.footer_text }}
                                {% if block.settings.image != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image1 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl1}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image1 | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image2 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl2}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image2 | img_url: '300x' }}"></a>
                                {% endif %}
                                {% if block.settings.image3 != blank %}
                                    <a target="_blank" class="tw-filter hover:tw-grayscale" href="{{block.settings.imageUrl3}}"><img class="tw-w-40 tw-ml-auto" src="{{ block.settings.image3 | img_url: '300x' }}"></a>
                                {% endif %}
                            </div>
                        </div>
                {% endcase %}
                <style>
                    input#menu-item-{{ forloop.index }} {
                        display: none;
                        position: relative;
                    }
                    @media screen and (max-width: 740px) {
                    .footer-block-content {
                        display: none;
                    }
                    #menu-item-{{ forloop.index }}:checked ~ .footer-block-content, 
                    #footer .footer-index-4 .footer-block-content{
                        display: block !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                    }
                </style>
            {% endfor %}
        </div>
        <div class="clear"></div>

    </div>
    <hr>
    <div class="{% render '[class]-container'  class: '' %} tw-flex !tw-items-center tw-justify-between tw-flex-col lg:tw-flex-row " id="bottom-footer">
        <div class="footer-left tw-flex tw-flex-col lg:tw-flex-row lg:tw-gap-6 tw-text-center">
            <div class="small-links tw-text-center">
                <a class="ph2" href="/pages/privacy-policy">Privacy Policy</a>
                |
                <a class="ph2" href="/pages/terms-conditions">Terms &amp; Conditions</a>
            </div>
            {% if section.settings.show_copyright %}
                <div class="tw-text-center">
                    <a href="{{ routes.root_url }}">&copy;
                        {{ 'now' | date: "%Y" }}
                        Designer Icons</a>
                </div>
            {% endif %}
        </div>
        <div class="footer-right" id="payment">
            {% if section.settings.show_social_icons %}
                {% render 'social-icons' %}
            {% endif %}
            {% if locale_selector or currency_selector %}
                <div class="disclosures">
                    {%- form 'localization', class: 'selectors-form' -%}
                        {%- if locale_selector -%}
                            <div class="selectors-form__item">
                                <h2 class="visually-hidden" id="lang-heading">
                                    {{ 'general.language.dropdown_label' | t }}
                                </h2>

                                <div class="disclosure" data-disclosure-locale>
                                    <button aria-controls="lang-list" aria-describedby="lang-heading" aria-expanded="false" class="disclosure__toggle" data-disclosure-toggle type="button">
                                        {{ form.current_locale.endonym_name }}
                                    </button>
                                    <ul class="disclosure-list" data-disclosure-list id="lang-list">
                                        {% for locale in form.available_locales %}
                                            <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                                                <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %} aria-current="true" {% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                                                    {{ locale.endonym_name }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                    <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                                </div>
                            </div>
                        {%- endif -%}

                        {%- if currency_selector -%}
                            <div class="selectors-form__item">
                                <h2 class="visually-hidden" id="currency-heading">
                                    {{ 'general.currency.dropdown_label' | t }}
                                </h2>

                                <div class="disclosure" data-disclosure-currency>
                                    <button aria-controls="currency-list" aria-describedby="currency-heading" aria-expanded="false" class="disclosure__toggle" data-disclosure-toggle type="button">
                                        {{ form.current_currency.iso_code }}
                                        {%- if form.current_currency.symbol -%}
                                            {{ form.current_currency.symbol }}
                                        {%- endif -%}
                                    </button>
                                    <ul class="disclosure-list" data-disclosure-list id="currency-list">
                                        {% for currency in form.available_currencies %}
                                            <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                                                <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %} aria-current="true" {% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                                                    {{ currency.iso_code }}
                                                    {%- if currency.symbol -%}
                                                        {{ currency.symbol }}
                                                    {%- endif -%}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                    <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endform -%}
                </div>
            {% endif %}
            {% if section.settings.show_credit_cards %}
                <div class="payment-methods">
                    {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag: class:'payment-icon' }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>

<style>
  #footer-wrapper {
    text-align: {{ section.settings.footer_text_align }};
  }
  {% if section.settings.payment_icon_color %}
   svg.payment-icon { filter: grayscale(1); }
  {% endif %}
  div#bottom-footer {
    display: flex;
    margin: 0 auto;
    padding-top: 32px;
  /*  border-top: 1px solid {{ settings.footer_border }};*/
    margin-top: 64px;
    align-items: flex-end;
  }

  div#bottom-footer .footer-left {
    width: 50%;
    text-align: left;
  }

  /* div#bottom-footer .footer-right {
    width: 50%;
    text-align: right;
  } */

  div#bottom-footer #copy p {
    text-align: left;
    margin: 0;
  }
  div#bottom-footer #payment {
    text-align: right;
  }
  div#bottom-footer #payment .payment-methods {
    margin-top: 10px;
  }
  div#bottom-footer .selectors-form {
    justify-content: flex-end;
    margin: 0;
  }
  div#bottom-footer ul#social-icons li {
    padding: 0;
  }
  @media (min-width: 980px) {
    #footer #payment {
      text-align: {{ section.settings.footer_text_align }};
    }
    {% if section.settings.footer_text_align == 'left' %}
      #footer .selectors-form {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
      .footer-section .disclosure-list {
        right: 0;
      }
    {% endif %}
  }
  @media (max-width: 740px) {
    div#bottom-footer {
      flex-wrap: wrap;
    }
    div#bottom-footer .footer-left {
      width: 100%;
      text-align: left;
      order:2;
    }
    div#bottom-footer .footer-right {
      /* width: 100%;
      text-align: left;
      order: 1; */
    }
    div#bottom-footer .selectors-form {
      justify-content: flex-start;
      margin: 0;
    }
    div#bottom-footer #payment {
      text-align: left;
    }
    div#bottom-footer .payment-methods {
      margin-top: 10px;
    }
    div#bottom-footer  .footer-section .disclosure__toggle {
      height: 44px;
      width: 80px;
    }
    div#bottom-footer ul#social-links {
      display: block;
      margin-bottom: 0;
    }
    .footer-section .disclosure-list {
      left: 0;
    }
    #footer-wrapper {
      padding-bottom: 20px;
    }
    #footer-wrapper p {
      margin-top: 20px;
    }
  }
    @media (min-width: 740px) {
  #footer-wrapper .rte {
    margin-top: 0px;
    text-align: right;
}.menuitems h4 {
    font-size: 13px;
    margin-bottom: -33px;
    color: black;
}
    }
  
  
</style>


{% schema %}

{
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "footer_text_align",
            "label": "Footer text align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                }, {
                    "value": "center",
                    "label": "Center"
                }, {
                    "value": "right",
                    "label": "Right"
                }
            ]
        }, {
            "type": "checkbox",
            "id": "show_credit_cards",
            "label": "Show credit card icons",
            "default": true,
            "info": "The icons that show are determined by your store's payment settings."
        }, {
            "type": "checkbox",
            "id": "payment_icon_color",
            "label": "Grayscale payment icons",
            "default": true
        }, {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        }, {
            "type": "checkbox",
            "id": "show_copyright",
            "label": "Show site name and copyright",
            "default": true
        }, {
            "type": "header",
            "content": "Language Selector",
            "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
        }, {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": "Show language selector",
            "default": true
        }, {
            "type": "header",
            "content": "Currency Selector",
            "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
        }, {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "footer_nav",
                    "label": "Sidebar menu",
                    "info": "This menu won't show dropdown items"
                }, {
                    "type": "text",
                    "id": "title",
                    "label": "Menu title",
                    "default": "Explore"
                }
            ]
        }, {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "About"
                }, {
                    "id": "footer_text",
                    "type": "richtext",
                    "label": "Text",
                    "default": "<p>Adding text to your footer helps introduce your business to new customers.</p>"
                                }, {
                                    "type": "image_picker",
                                    "id": "image",
                                    "label": "image 1"
                                }, {
                                    "type": "url",
                                    "id": "imageUrl",
                                    "label": "Image 1 Url",
                                    "default": "/"
                                }, {
                                    "type": "image_picker",
                                    "id": "image1",
                                    "label": "image 2"
                                }, {
                                    "type": "url",
                                    "id": "imageUrl1",
                                    "label": "Image 2 Url",
                                    "default": "/"
                                }, {
                                    "type": "image_picker",
                                    "id": "image2",
                                    "label": "image 3"
                                }, {
                                    "type": "url",
                                    "id": "imageUrl2",
                                    "label": "Image 3 Url",
                                    "default": "/"
                                }, {
                                    "type": "image_picker",
                                    "id": "image3",
                                    "label": "image 4"
                                }, {
                                    "type": "url",
                                    "id": "imageUrl3",
                                    "label": "Image 4 Url",
                                    "default": "/"
                                }
                            ]
                        }, {
                            "type": "newsletter",
                            "name": "Newsletter signup",
                            "limit": 1,
                            "settings": [
                                {
                                    "type": "text",
                                    "id": "title",
                                    "label": "Mailing list section title",
                                    "default": "connect"
                                }, {
                                    "type": "richtext",
                                    "id": "mailing_subheading",
                                    "label": "Mailing list subheading",
                                    "default": "<p>Join our mailing list for updates</p>"
                                }
                            ]
                        }
                    ]
                }

{% endschema %}